L'objectif de ce mini-projet est de simuler l'execution du K-means en mode distribue.
En effet, le K-means a ete consu pour s'executer en mode centralise avec toutes les donnees en memoire. 
Avec l'emmergence du Big Data, il est souvent demande aux data scientists et data ingénieurs de concevoir (pour les premiers) 
ou adapter (pour les seconds) des algorithmes existants, aux contraintes du Big Data.
La contrainte qui nous interesse dans le cadre de ce TP est la decentralisation des données. Il vous sera 
ainsi interdit de rapatrier toutes les données en memoire. 

Ci dessous, une version simplifiee de l'algorithm des kmeans.

In [3]:
pip install cassandra-driver==3.24.0

Requirement already satisfied: cassandra-driver in d:\anaconda\lib\site-packages (3.28.0)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in d:\anaconda\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.4)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import copy
import numpy as np
from sklearn.neighbors import NearestNeighbors

def kmeans_(feats,num_clus):
    max_iter=10000
    nbrs=NearestNeighbors(n_neighbors=1, algorithm='ball_tree')
    iter_=0
    centroides=feats[np.random.choice(feats.shape[0],num_clus,replace=False),:]
    
    while(iter_<max_iter):
        nbrs.fit(centroides)
        iter_+=1
        distances,indices = nbrs.kneighbors(feats)
        centroides_prev=copy.deepcopy(centroides)
        
        for i in range(centroides.shape[0]):
            centroides[i,:] = feats[np.where(indices[:,0] == i)[0],:].mean(axis=0)

    return indices[:,0],distances.mean()

# Exercice 1 (3 pts) :
Il vous est demandé de commenter le code de cette fonction

# Exercice 2 (7 pts)
Vous devez remplir 3 table sur Cassandra avec 100000 element chacune
Chaque table contient 5 colonnes

Les tables suivent la structure suivante :
ID_pref (Partition key),Id_company, age, weight, shoulder circumference

Id_company est unique pour chaque ligne
La colonne ID_pref est assigné une des trois valeurs (0,1,2). 40% des lignes ont une valeure de 0. Les valeurs de 1 et 2 representent 30% chacune. 

Pour la première table
La colonne age est assigne une valeur suivant une loi normale entre 18 et 99 avec moyenne=30 et écart type = 10  (utilisez scipy.stats).
La colonne weight et shoulder circumference sont aleatoires (utilisez numpy.random). 
50<weight<99 et 30<shoulder circumference <60

Pour la seconde table 
La colonne age est assigne une valeur suivant une loi normale entre 18 et 99 avec moyenne=30 et écart type = 15  (utilisez scipy.stats).
La colonne weight est assigné une valeur suivant une loi normale entre 50 et 99 avec moyenne=70 et écart type = 10  (utilisez scipy.stats).
30<shoulder circumference (aleatoire) <60

la troisième table utilise le même modèle que la tablea précedente pour genèrer la colonne age
Le poids et shoulder circumference dependent de l'age
Poids = 50 + sqrt(age)
shoulder circumference = 10 + 2*log(age)
ID_pref = les identifiants des personnes dépendent de leur age où les plus jeunes ont un age de 0 et les plus agés un identifiant de 3. 


NB
Commencez par faire l'exercice sur un dictionnaire (cassandra_dict={}, avec cassandra_dict[table1],cassandra_dict[table2],cassandra_dict[table3] representant les tables). Modifiez ensuite votre code pour s'executer sur cassandra. Vous aurez une note partielle si vous executez sur dictionnaire seulement (2/3 de la note)

In [44]:
import urllib
import codecs
import shutil
import os
import glob2
from bs4 import BeautifulSoup as bs
import re
import html
import base64
from cassandra.cluster import Cluster
#import cql

In [46]:
cluster=Cluster(['127.0.0.1'])#127.0.0.1,"172.17.0.0"
session=cluster.connect('kmeans_decentralise')

In [61]:
#creation des tables 
session.execute("create table table_1(Id_company uuid primary key, ID_pref int, age double, weight int, shoulder_circumference double)")
session.execute("create table table_2(Id_company uuid primary key, ID_pref int, age double, weight double, shoulder_circumference double)")
session.execute("create table table_3(Id_company uuid primary key, ID_pref int, age double, weight double, shoulder_circumference double)")

In [60]:
session.execute("drop table table_1")

In [74]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [70]:
#colone Id_pref
taille_df=1000
id_pref = np.random.choice([0,1,2], size=taille_df, p=[0.4,0.3,0.3])

#colonne age
moyenne_age =30;
ecart_type_age = 10
age = norm.rvs(loc=moyenne_age, scale=ecart_type_age, size=taille_df)
age = np.clip(age, 18, 99)


#colonne weight
weight = np.random.randint(50,99,taille_df)
#la datafram

#colonne shoulder circumference
shoulder = np.random.randint(30,60,taille_df)

df1 = pd.DataFrame({"ID_pref": id_pref, "age":age, "weight":weight,"shoulder_circumference": shoulder})

In [71]:
df1

     ID_pref        age  weight  shoulder_circumference
0          2  22.902685      57                      30
1          0  36.803589      88                      48
2          1  19.804595      81                      30
3          0  18.000000      58                      47
4          0  18.000000      80                      30
..       ...        ...     ...                     ...
995        2  50.525646      63                      47
996        0  26.954366      92                      41
997        1  31.495869      84                      50
998        1  18.000000      76                      34
999        2  25.486549      66                      51

[1000 rows x 4 columns]

In [66]:
#insertion de la df dansla table_1
# Insertion de la df dans la table_1
for i in range(taille_df):
    session.execute("""
        INSERT INTO table_1 (Id_company, ID_pref, age, weight, shoulder_circumference)
        VALUES (uuid(), %s, %s, %s, %s)
    """, (df1['ID_pref'].iloc[i], df1['age'].iloc[i], df1['weight'].iloc[i], df1['shoulder_circumference'].iloc[i]))

print("finished")
#rows=session.execute("select id,name from python_test")

finished

In [69]:
session.execute("drop table table_1")

# table 2

In [76]:
#colone Id_pref
id_pref = np.random.choice([0,1,2], size=taille_df, p=[0.4,0.3,0.3])

#colonne age
moyenne_age =30;
ecart_type_age = 15
age = norm.rvs(loc=moyenne_age, scale=ecart_type_age, size=taille_df)
age = np.clip(age, 18, 99)

#colonne weight
moyenne_weight = 70
ecart_type_weight = 10
weight =  norm.rvs(loc=moyenne_weight, scale=ecart_type_weight, size=taille_df)
weight = np.clip(weight,50,99)
#la datafram

#colonne shoulder circumference
shoulder = np.random.randint(30,60,taille_df)

df2 = pd.DataFrame({"ID_pref": id_pref, "age":age, "weight":weight,"shoulder_circumference": shoulder})

In [77]:
df2

     ID_pref        age     weight  shoulder_circumference
0          1  75.894167  84.807417                      45
1          1  50.224258  68.981733                      58
2          1  20.485878  65.298667                      53
3          0  18.000000  90.915306                      52
4          0  18.000000  55.683879                      54
..       ...        ...        ...                     ...
995        0  41.452949  71.425100                      50
996        0  40.904886  61.204536                      33
997        1  35.850088  79.876160                      38
998        2  24.637361  62.220312                      55
999        2  31.270487  77.685026                      31

[1000 rows x 4 columns]

# Exercice 3 (10 points)
Modifiez le K-means presente ci-dessus pour qu'il partitionne les trois tables crees. 
On considère que les données avec ID_pref=0 sont sur le serveur 0, ID_pref=1 sur le serveur 1 et ID_pref=2 sur le serveur 2.
Votre algorithme ne peut pas agreger les donnees de differents serveurs. 
Vous devez ecrire une fonction qui 
recois les moyennes des centroides durant une itération
Calcul de nouvelles moyennes par rapport aux données dans un serveur

Vous devez ensuite à partir de ces moyennes par serveur generer une moyenne globale.

NB chaque serveur contribue a la moyenne globale en fonction des nombre d'elements dans ce dernier

# bonus (5 points)
4.1 Decrire de la fonction K Medoids 
4.2 Decrire une stratégie pour décentraliser l'execution du K-medoids.
Votre algorithme ne peut pas agreger les donnees de differents serveurs. Il n'aura jamais accés aux differentes tables en même temps.

# Bonne Chance !!